.logo-container {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list li {
  padding: 10px;
}

main {
  width: 80%;
  margin: auto;
}

h2 {
  color: blue;
  margin-left: 40px;
}

.pasta-list {
  display: flex;
  flex-wrap: wrap;
}

.pasta-img {
  max-height: 180px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

li {
  color: grey;
}

.wrapper {
  display: flex;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

